<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="orderForm" (ngSubmit)="edit()">
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input required formControlName="Nama" type="text"></ion-input>
    </ion-item>
    <ng-container *ngFor="let error of error_messages.Nama">
      <div *ngIf="orderForm.get('Nama').hasError(error.type) && 
        (orderForm.get('Nama').dirty || orderForm.get('Nama').touched)" class="error-message">
        {{error.message}}
      </div>
    </ng-container>
    <ion-button (click)="produkSelectable.open()" expand="block" fill="solid">
      Tambah Produk
    </ion-button>
    <ion-item class="ion-hide">
      <ion-label>Produk</ion-label>
      <ionic-selectable #produkSelectable [items]="listProduk" [isMultiple]="true" itemValueField="id"
        itemTextField="nama" groupValueField="kategori" closeButtonSlot="end" groupTextField="kategori"
        [canSearch]="true" [disabledItems]='disabledProduk' (onChange)="produkChanged($event)">
        <ng-template ionicSelectableItemTemplate let-produk="item" let-isProdukSelected="isItemSelected">
          {{produk.nama}} ({{produk.stock}})
        </ng-template>
        <ng-template ionicSelectableHeaderTemplate>
          <ion-header>
            <ion-toolbar color="primary">
              <ion-buttons slot="end">
                <ion-button (click)="produkSelectable.close()">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Pilih Produk</ion-title>
            </ion-toolbar>
          </ion-header>
        </ng-template>
        <ng-template ionicSelectableValueTemplate let-produks="value">
          Terpilih {{produks.length}}
        </ng-template>
      </ionic-selectable>
    </ion-item>
    <ion-card *ngFor="let item of produkSelected" class="ion-no-padding">
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <h2>{{item.Produk.nama}}</h2>
            <p>Rp {{item.Produk.harga_jual.toLocaleString('id-ID')}}</p>
          </ion-label>
          <ion-label slot="end" class="ion-text-right">
            <p>Total</p>
            <h2>Rp {{item.total.toLocaleString('id-ID')}}</h2>
          </ion-label>
        </ion-item>
        <ion-row class="ion-align-items-center ion-justify-content-end">
          <ion-col size="2" class="ion-align-items-center ion-text-center">
            <ion-button size="small" color="danger" fill="clear" (click)="removeItem(item)">
              <ion-icon color="danger" name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" class="ion-align-items-center ion-text-center">
            <ion-button size="small" [disabled]="item.jumlah == 1" color="primary" fill="clear"
              (click)="decreasItem(item)">
              <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1" class="ion-align-items-center ion-text-center">
            {{ item.jumlah }}
          </ion-col>
          <ion-col size="2" class="ion-align-items-center ion-text-center">
            <ion-button size="small" color="primary" [disabled]="item.jumlah == item.stock" fill="clear"
              (click)="increaseItem(item)">
              <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<ion-footer>
  <ion-row class="ion-align-items-center">
    <ion-col size="6">
      Jumlah {{this.subTotal.jumlah}} <br>
      Rp {{this.subTotal.total.toLocaleString('id-ID')}}
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="primary" type="submit" (click)="edit()" [disabled]="orderForm.invalid">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>